<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/addpage.css" type="text/css" />

 <!-- Boxicons CDN Link -->
 <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
 crossorigin="anonymous"/>

<title>Merchandise Out</title>

</head>
<style>
.sidebar .bx-log-out:hover{
  color: red;
}

</style>



<body>

  <%- include('header'); -%>

  <section class="home-section">
     
      <div class="topnav">
        <a class="floatleft" href="homepage">
                    <img src="https://cdn.shopify.com/s/files/1/0467/8660/9318/files/Tokimeku_Tag_Tokimeku_Logo_480x480.png?v=1620028225" class="paddingimg" alt="tokimeku" style="width:200px;height:75px;">
                  </a>

        <p class="floatleft">Merchandise Out</p>
    
        </div>
        
        <% if(message.length > 0){ %>
          <div class="alertmessage">
           <p> <%=message%></p>
          </div>
        <%}%>
        <% if(error.length > 0){ %>
          <div class="alerterror">
           <p> <%=error%></p>
          </div>
        <%}%>
        <div class="container">
            <% if(results.length > 0){
                
                %>
            <form name="" action="updateMDSE" method ="post">
                Item :<input type="text" name="item" class="setgreycolor" value="<%=results[0].item%>" readonly /><br>
                Batch :<input type="text" name="batch" class="setgreycolor" value="<%=results[0].batch%>" readonly /><br>
                Quantity Remain:<input type="number"  class="setgreycolor" name="qtyremain" value="<%=results[0].quantity%>" readonly /><br>
                Quantity Use :<input type="number" name="qty" placeholder="Quantity.." required min="1" max="<%=results[0].quantity%>"/><br>
                Brand : <input type="text"  class="setgreycolor" name="brand" readonly value="<%=results[0].brand%>" /><br>
                Remarks : <br>
                <textarea id="remarks"  class="setgreycolor" name="remarks" rows="4" cols="50"  readonly><%=results[0].remark%></textarea>
                  <br>
                <input type="submit" value="Submit">

             </form>
<%} else{%>
    <form name="" action="searchMDSE" method ="post">
                
        Batch :<input type="text" name="batch" placeholder="Enter batch" required /><br>
              
        <input type="submit" value="Submit">

     </form>
<%}%>
                   
             
               
                <form name="" action="homepage" method ="get">
                  <input type="submit" value="Back">
                  </form>


        </div>
  </section>

</body>


</html>